<a href="https://colab.research.google.com/github/davidzheng66/python3/blob/master/panda/panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

In [ ]:
import tensorflow as tf  # now import the tensorflow module
print(tf.version)  # make sure the version is 2.x

In [ ]:
import sys
print(sys.version)

In [ ]:
import platform
print(platform.python_version())

3.6.9

# Corey Schafer [Python Panda Tutorial](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

#[1. Getting Started with Data Analysis - Installation and Loading Data](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)
* [Pandas(Panel Data): Python Data Analysis Library](https://pandas.pydata.org/)
* Install packages:
 * pip install pandas
 * pip install jupyterlab
* [Stack Overflow Annual Developer Survey(Data)](https://insights.stackoverflow.com/survey)

In [ ]:
!pip install -q sklearn

$$
\int_0^\infty x^2dx
$$

In [ ]:
import pandas as pd # Note: it depends on numpy==1.19.3, it doesn't work with numpy==1.19.4

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv') # Note: it needs to use "raw" format
df

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.min_rows', 10)
# pd.get_option('display.min_rows')

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv')
df_schema.head()

In [ ]:
df_schema.shape

In [ ]:
df.columns

In [ ]:
df['Hobbyist']

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.loc[0, 'Hobbyist']

In [ ]:
df.loc[0:2, 'Hobbyist':'Employment'] # note: row 2 is not inclusive, but column 'Employment' is inclusive

#[2. DataFrame and Series Basics - Selecting Rows and Colums](https://www.youtube.com/watch?v=zmdjNSmRXF4&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=2)

In [ ]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}
person

In [ ]:

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}
people

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
people['email']

In [ ]:
import pandas as pd

df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.email

In [ ]:
type(df['email'])

In [ ]:
df[['last','email']]

In [ ]:
type(df[['last','email']])

In [ ]:
df.columns

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[[0,1],2]

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0,1], ['email','last']]

#[3. Indexes - How to Set, Reset, and Use Indexed](https://www.youtube.com/watch?v=W9XjRYFkkyw&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=3)

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
import pandas as pd
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.set_index('email', inplace=True)

In [ ]:
df

In [ ]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [ ]:
df.loc['CoreyMSchafer@gmail.com', 'last']

In [ ]:
# df.loc[0] # note: error after seting the index, it needs to use iloc
df.iloc[0]
df
df.reset_index(inplace=True)
df

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df.loc[1]

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')
# df_schema.head()
# df_schema.loc['Hobbyist']
# df_schema.loc['MgrIdiot']
df_schema.loc['MgrIdiot', 'QuestionText']

In [ ]:
df_schema.sort_index(ascending=False, inplace=True)
df_schema

#[4. Filtering - Using Conditionals to Filter Rows and Columns](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [ ]:
df.loc[filt, 'email']

In [ ]:
df.loc[~filt, 'email']

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')

In [ ]:
high_salary = (df['ConvertedComp'] > 130000)

In [ ]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
countries = ['United States', 'Canada', 'Germany', 'India', 'United Kindom']
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageWorkedWith']

# [5. Updating Rows and Columns - Modifying Data Within DataFrames](https://www.youtube.com/watch?v=DCDe29sIKcE&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=5)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.columns

In [ ]:
type(df.columns)

In [ ]:
df.columns = ['first_name', 'last_name', 'email']
df

In [ ]:
df.columns = [x.upper() for x in df.columns]
df

In [ ]:
df.columns = df.columns.str.replace(' ', '_')
df

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [ ]:
df.loc[2, ['last','email']] =['Doe', 'JohnDoe@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.loc[2, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [ ]:
df.at[2, 'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [ ]:
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [ ]:
def update_email(email):
    return email.upper()

In [ ]:
df['email'].apply(update_email)

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [ ]:
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [ ]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [ ]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [ ]:
len(df['email'])

3

In [ ]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [ ]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [ ]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [ ]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [ ]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [ ]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [ ]:
df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [ ]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')

In [ ]:
pd.set_option('display.max_columns', 85)

In [ ]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)
df.head()

In [ ]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
10138        NaN
10139        NaN
10140    36432.0
10141    65301.0
10142    87036.0
Name: SalaryUSD, Length: 9168, dtype: float64

In [ ]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
10138     No
10139    Yes
10140    Yes
10141    Yes
10142    Yes
Name: Hobbyist, Length: 9168, dtype: object

In [ ]:
df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
10138    False
10139     True
10140     True
10141     True
10142     True
Name: Hobbyist, Length: 9168, dtype: bool

In [ ]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
10138     No
10139    Yes
10140    Yes
10141    Yes
10142    Yes
Name: Hobbyist, Length: 9168, dtype: object

In [ ]:
df['Hobbyist']= df['Hobbyist'].map({'Yes':True, 'No':False})

In [ ]:
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
10138    False
10139     True
10140     True
10141     True
10142     True
Name: Hobbyist, Length: 9168, dtype: bool

#[6. Add/Remove Rows and Columns From DataFrames](https://www.youtube.com/watch?v=HQ6XO9eT-fc&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=6)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df['first'] + ' '+ df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [ ]:
df['full_name'] = df['first'] + ' '+ df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [ ]:
df.drop(columns=['first', 'last'], inplace=True)
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [ ]:
df['full_name'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [ ]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [ ]:
df.append({'first':'Tony'}, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [ ]:
people = {
    'first': ['Tony', 'Steve'], 
    'last': ['Stark', 'Rogers'], 
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [ ]:
df.append(df2, ignore_index=True, sort=False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df = df.append(df2, ignore_index=True, sort=False)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [ ]:
df.drop(index=df[df['last'] == 'Doe'].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
filt = df['last'] == 'Doe'
df.drop(df[filt].index )

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

#[7. Sorting Data](https://www.youtube.com/watch?v=T11QYVfZoD0&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=7)

In [59]:
import pandas as pd
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [60]:
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [61]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [63]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [64]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [65]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [69]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
pd.set_option('display.max_columns', 85)
pd.set_option('display.min_rows', 4)
# df.head()
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10141,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",7,15,5,Neither satisfied nor dissatisfied,Slightly dissatisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",More than 4 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,CHF,Swiss franc,65000.0,Yearly,65301.0,42.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have some influence,HTML/CSS;JavaScript;PHP;Python;SQL,HTML/CSS;Java;JavaScript;Kotlin;PHP;Python,MySQL;SQLite,Firebase;MariaDB;MongoDB,Linux;Raspberry Pi;Windows;WordPress,Android;Google Cloud Platform;Linux;Windows,Angular/Angular.js;Django;jQuery;Laravel;Vue.js,Laravel;Vue.js,Node.js,Node.js,Android Studio;Atom;PHPStorm;PyCharm;Sublime Text,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,Facebook,Neither,Username,2010,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,A lot more welcome now than last year,Tech articles written by other developers;Tech...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
10142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...","1,000 to 4,999 employees","Developer, full-stack;Developer, game or graphics",20,5,9,Very satisfied,Very satisfied,Very confident,Yes,No,I am not interested in new job opportunities,3-4 years ago,"Write code by hand (e.g., on a whiteboard);Int...",Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,AUD,Australian dollar,120000.0,Yearly,87036.0,37.5,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Inadequ...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",NaN,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have some influence,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,C#;TypeScript;WebAssembly,Elasticsearch;Microsoft SQL Server;Redis,Cassandra;Elasticsearch;Redis,Arduino;Docker;iOS;Linux;Raspberry Pi;Windows,Arduino;iOS;Windows,React.js,React.js,.NET;.NET Core;Node.js,.NET;.NET Core;Node.js;TensorFlow;Torch/PyTorc...,Visual Studio Code,Windows,Development;Production,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,Yes,Yes,Yes,Reddit,In real life (in person),Username,2008,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was slightly faster,60+ minutes,No,NaN,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy

In [84]:
df.sort_values(by=['Country', 'ConvertedComp'], ascending=[True, False], inplace=True)
df[['Country', 'ConvertedComp']].head(10)

                Country  ConvertedComp
Respondent
7085        Afghanistan        14364.0
8149        Afghanistan         1596.0
7353        Afghanistan            NaN
6417        Afghanistan            NaN
3787            Albania       114550.0
9270            Albania        74474.0
6716            Albania        60000.0
2332            Albania        22080.0
1954            Albania        11040.0
9441            Albania            NaN

In [88]:
df['ConvertedComp'].nlargest(5)

Respondent
2113    2000000.0
4083    2000000.0
3848    2000000.0
2115    2000000.0
8988    2000000.0
Name: ConvertedComp, dtype: float64

In [89]:
df.nlargest(5, 'ConvertedComp')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2113,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,Taken an online course in programming or softw...,"1,000 to 4,999 employees","Developer, back-end;Engineer, data",7,12,4,Very satisfied,Slightly satisfied,Very confident,No,Not sure,"I’m not actively looking, but I am open to new...",3-4 years ago,Complete a take-home project;Interview with pe...,No,Office environment or company culture;Remote w...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,130000.0,Weekly,2000000.0,50.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Not enou...,All or almost all the time (I'm full-time remote),Office,Average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have some influence,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;P...,Elixir;Python;SQL;TypeScript,PostgreSQL;Redis;Other(s):,PostgreSQL;Other(s):,AWS;Docker;Heroku;Slack,Arduino;AWS;Kubernetes;Slack,Angular/Angular.js;React.js;Ruby on Rails,Flask,Other(s):,Apache Spark;Hadoop;Node.js;Other(s):,Sublime Text;Vim,MacOS,Production,Not at all,Useful for immutable record keeping outside of...,Yes,Yes,Yes,Reddit,Online,Handle,2010,Daily or almost daily,Find answers to specific questions,6-10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
4083,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...","10,000 or more employees","Developer, desktop or enterprise applications;...",15,14,13,Very satisfied,Slightly satisfied,Somewhat confident,Yes,No,"I’m not actively looking, but I am open to new...",More than 4 years ago,"Write code by hand (e.g., on a whiteboard);Int...",Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,170000.0,Weekly,2000000.0,60.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,About half the time,Home,Average,"Yes, because I see value in code review",5.0,"No, but I think we should",Developers and management have nearly equal in...,I have some influence,C#;Go;Java;Python;TypeScript,C#;Go;Python;TypeScript,MongoDB;Microsoft SQL Server,MongoDB;Microsoft SQL Server,Android;Windows,Android;AWS;Kubernetes;Linux;MacOS,Django;Flask;jQuery;Laravel;React.js,Django;Flask;jQuery;React.js,.NET,.NET Core,IntelliJ;PHPStorm;PyCharm;Visual Studio Code,MacOS,Development;Testing,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",No,Yes,Yes,Facebook,Online,Username,2008,A few times per week,Find answers to specific questions;Meet other ...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",A lot less welcome now than last year,Tech meetups or events in your area;Courses on...,34.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
3848,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,20 to 99 employees,"Developer, back-end;Developer, front-end;Devel...",8,13,1,Very satisfied,Slightly satisfied,Somewhat confident,No,No,I am not interested in new job opportunities,1-2 years ago,Interview with people in peer roles;Interview ...,No,Specific department or team I'd be working on;...,"Something else changed (education, award, medi...",USD,United States dollar,70000.0,Weekly,2000000.0,45.0,There is a schedule and/or spec (made by me or...,Lack of support from management;Meetings,A few days each month,Office,Far above average,"Yes, because I see value in code review",3.0,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have some influence,C#;HTML/CSS;Java;JavaScript;Kotlin;Python;SQL,Go;HTML/CSS;JavaScript;Kotlin;Python;Rust;SQL;...,MySQL,Elasticsearch;Firebase;MongoDB;MySQL;PostgreSQL,AWS;Docker;Linux;MacOS;Raspberry Pi,Android;AWS;Docker;iOS;Kubernetes;Linux;MacOS;...,jQuery;Spring;Vue.js,Express;Spring;Vue.js,.NET Core;Node.js,Flutter;.NET Core,IntelliJ;Vim;Visual Studio Code,MacOS,Development;Testing;Production,Not at all,A passing fad,No,SIGH,Yes,Snapchat,In real life (in person),Username,2010,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was slightly faster,31-60 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
2115,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",10 to 19 employees,"Developer, back-end;Developer, embedded applic...",2,21,1,Very satisfied,Very satisfied,Very confident,No,No,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in senior / management r...,No,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,USD,United States dollar,72000.0,Weekly,2000000.0,40.0,There's no schedule or spec; I work on what se...,Lack of support from management,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",1.0,"Yes, it's not part of our process but the deve...","The CTO, CIO, or other management purchase new...",I have some influence,C;C++;JavaScript;Python;Rust,C;JavaScript;Python;Rust,MongoDB,Elasticsearch;PostgreSQL,Docker;Kubernetes;Linux,AWS;Docker;Google Cloud Platform;Linux,Express,Flask;React.js,Node.js,React Native;TensorFlow,Vim,Linux-based,Development;Testing;Production,Not at all,NaN,Yes,Yes,Yes,Instagram,In real life (in person),Username,2015,Multiple times per day,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech meetups or events in your area,29.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,Yes,Appropriate in length,Neither easy nor difficult
8988,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",100 to 499 employees,"Developer, full-stack",5,15,1,Slightly satisfied,Slightly dissatisfied,Somewhat confident,Yes,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in senior / management r...,No,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,USD,United States dollar,46000.0,Weekly,2000000.0,45.0,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Non-wor...,Less than once per month / Never,Office,A little below average,"Yes, because I was told to do so",10.0,"Yes, it's not part of our process but the deve...","The CTO, CIO, or other management purchase new...",I have little or no influence,C#;HTML/CSS;JavaScript;SQL,JavaScript;Python,Microsoft SQL Server,Microsoft SQL Server,NaN,Android,ASP.NET,React.js,NaN,NaN,Visual Studio,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,Reddit,Online,Username,2013,A few times per week,Find answers to specific questions,6-10 times per week,Stack Overflow was slightly faster,0-10 minutes,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Courses on technologies you're interested in,23.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy

#[8. Grouping and Aggregating: Analyzing and Exploring Your Data](https://www.youtube.com/watch?v=txMdrV1Ut64&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=8)

In [90]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')
pd.set_option('display.max_columns', 85)
pd.set_option('display.min_rows', 4)
# df.head()
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10141,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,10 to 19 employees,"Database administrator;Developer, back-end;Dev...",7,15,5,Neither satisfied nor dissatisfied,Slightly dissatisfied,Somewhat confident,No,Not sure,"I’m not actively looking, but I am open to new...",More than 4 years ago,Write any code;Interview with people in peer r...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,CHF,Swiss franc,65000.0,Yearly,65301.0,42.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Distrac...,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should","The CTO, CIO, or other management purchase new...",I have some influence,HTML/CSS;JavaScript;PHP;Python;SQL,HTML/CSS;Java;JavaScript;Kotlin;PHP;Python,MySQL;SQLite,Firebase;MariaDB;MongoDB,Linux;Raspberry Pi;Windows;WordPress,Android;Google Cloud Platform;Linux;Windows,Angular/Angular.js;Django;jQuery;Laravel;Vue.js,Laravel;Vue.js,Node.js,Node.js,Android Studio;Atom;PHPStorm;PyCharm;Sublime Text,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,Facebook,Neither,Username,2010,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,A lot more welcome now than last year,Tech articles written by other developers;Tech...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
10142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...","1,000 to 4,999 employees","Developer, full-stack;Developer, game or graphics",20,5,9,Very satisfied,Very satisfied,Very confident,Yes,No,I am not interested in new job opportunities,3-4 years ago,"Write code by hand (e.g., on a whiteboard);Int...",Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,AUD,Australian dollar,120000.0,Yearly,87036.0,37.5,There's no schedule or spec; I work on what se...,Being tasked with non-development work;Inadequ...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",NaN,"Yes, it's not part of our process but the deve...",Developers typically have the most influence o...,I have some influence,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,C#;TypeScript;WebAssembly,Elasticsearch;Microsoft SQL Server;Redis,Cassandra;Elasticsearch;Redis,Arduino;Docker;iOS;Linux;Raspberry Pi;Windows,Arduino;iOS;Windows,React.js,React.js,.NET;.NET Core;Node.js,.NET;.NET Core;Node.js;TensorFlow;Torch/PyTorc...,Visual Studio Code,Windows,Development;Production,Non-currency applications of blockchain,Useful for immutable record keeping outside of...,Yes,Yes,Yes,Reddit,In real life (in person),Username,2008,A few times per week,Find answers to specific questions;Learn how t...,1-2 times per week,Stack Overflow was slightly faster,60+ minutes,No,NaN,Yes,"No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy

In [93]:
df['ConvertedComp'].head(10)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
Name: ConvertedComp, dtype: float64

In [92]:
df['ConvertedComp'].median()

56030.0

In [94]:
df.median()

CompTotal        60000.0
ConvertedComp    56030.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [95]:
df.describe()

          CompTotal  ConvertedComp  WorkWeekHrs   CodeRevHrs          Age
count  5.784000e+03   5.776000e+03  6694.000000  5185.000000  8192.000000
mean   1.086709e+09   1.247194e+05    42.345115     5.103443    30.333777
std    8.257440e+10   2.799005e+05    27.623079     5.372420     9.071842
min    0.000000e+00   0.000000e+00     1.000000     0.000000     1.000000
25%    2.000000e+04   2.516925e+04    40.000000     2.000000    24.000000
50%    6.000000e+04   5.603000e+04    40.000000     4.000000    29.000000
75%    1.200000e+05   1.000000e+05    44.000000     6.000000    35.000000
max    6.280000e+12   2.000000e+06  1012.000000    99.000000    99.000000

In [96]:
df['ConvertedComp'].count()

5776

In [97]:
df['Hobbyist']

Respondent
1        Yes
2         No
        ...
10141    Yes
10142    Yes
Name: Hobbyist, Length: 9168, dtype: object

In [98]:
df['Hobbyist'].value_counts()

Yes    7415
No     1753
Name: Hobbyist, dtype: int64

In [99]:
df['SocialMedia']

Respondent
1          Twitter
2        Instagram
           ...
10141     Facebook
10142       Reddit
Name: SocialMedia, Length: 9168, dtype: object

In [100]:
df_schema.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [101]:
df['SocialMedia'].value_counts()

Reddit                      1469
YouTube                     1431
WhatsApp                    1411
Facebook                    1403
Twitter                     1211
Instagram                    624
I don't use social media     547
LinkedIn                     456
Snapchat                      74
WeChat 微信                     65
VK ВКонта́кте                 55
Weibo 新浪微博                     8
Youku Tudou 优酷                 4
Hello                          1
Name: SocialMedia, dtype: int64

In [102]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.167713
YouTube                     0.163375
WhatsApp                    0.161091
Facebook                    0.160178
Twitter                     0.138258
Instagram                   0.071241
I don't use social media    0.062450
LinkedIn                    0.052061
Snapchat                    0.008448
WeChat 微信                   0.007421
VK ВКонта́кте               0.006279
Weibo 新浪微博                  0.000913
Youku Tudou 优酷              0.000457
Hello                       0.000114
Name: SocialMedia, dtype: float64

In [103]:
df['Country'].value_counts()

United States          2040
India                   946
                       ...
Antigua and Barbuda       1
Guinea                    1
Name: Country, Length: 150, dtype: int64

In [106]:
country_group = df.groupby(['Country'])

In [107]:
country_group.get_group('United States')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,Data or business analyst;Database administrato...,17,11,8,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,Complete a take-home project;Interview with pe...,Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,90000.0,Yearly,90000.0,40.0,There is a schedule and/or spec (made by me or...,"Meetings;Non-work commitments (parenting, scho...",All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",5.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Rust...,Couchbase;DynamoDB;Firebase;MySQL,Firebase;MySQL;Redis,Android;AWS;Docker;IBM Cloud or Watson;iOS;Lin...,Android;AWS;Docker;IBM Cloud or Watson;Linux;S...,Angular/Angular.js;ASP.NET;Express;jQuery;Vue.js,Express;Vue.js,Node.js;Xamarin,Node.js;TensorFlow,Vim;Visual Studio;Visual Studio Code;Xcode,Windows,Development;Testing;Production,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,Twitter,In real life (in person),Username,2011,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10127,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Participated in a hackathon,"1,000 to 4,999 employees","Developer, back-end;Developer, full-stack",6,17,3,Very satisfied,Very satisfied,Very confident,Yes,Yes,I am not interested in new job opportunities,3-4 years ago,Interview with people in peer roles;Interview ...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,70000.0,Yearly,70000.0,40.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Non-work...,It's complicated,Office,Average,"Yes, because I was told to do so",NaN,"No, and I'm glad we don't","The CTO, CIO, or other management purchase new...",I have some influence,C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript;SQL,Firebase;MySQL;Oracle;SQLite,MySQL;Oracle;SQLite,Slack;Windows,Android;Windows,React.js,React.js,.NET,.NET;Unity 3D,Atom;Notepad++;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,NaN,Yes,Yes,Yes,Twitter,In real life (in person),UserID,2010,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
10136,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, back-end;Developer, desktop or ente...",39,15,30,Very satisfied,Slightly satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,Specific department or team I'd be working on;...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,170000.0,Yearly,170000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work,A few days each month,Office,A little above average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have a great deal of influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,C#;Python;SQL;TypeScript,DynamoDB;Elasticsearch;Microsoft SQL Server;My...,DynamoDB;Elasticsearch;Microsoft SQL Server;My...,AWS;Windows,AWS;Windows,Angular/Angular.js;ASP.NET,NaN,Apache Spark;.NET;.NET Core,Apache Spark;.NET;.NET Core,Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,A passing fad,No,Yes,Yes,Facebook,In real life (in person),Username,NaN,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was slightly faster,11-30 minutes,No,NaN,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,52.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy

In [108]:
filt = df['Country'] == 'United States'
df.loc[filt]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,10 to 19 employees,Data or business analyst;Database administrato...,17,11,8,Very satisfied,Very satisfied,NaN,NaN,NaN,I am not interested in new job opportunities,3-4 years ago,Complete a take-home project;Interview with pe...,Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,90000.0,Yearly,90000.0,40.0,There is a schedule and/or spec (made by me or...,"Meetings;Non-work commitments (parenting, scho...",All or almost all the time (I'm full-time remote),Home,A little above average,"Yes, because I see value in code review",5.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Rust...,Couchbase;DynamoDB;Firebase;MySQL,Firebase;MySQL;Redis,Android;AWS;Docker;IBM Cloud or Watson;iOS;Lin...,Android;AWS;Docker;IBM Cloud or Watson;Linux;S...,Angular/Angular.js;ASP.NET;Express;jQuery;Vue.js,Express;Vue.js,Node.js;Xamarin,Node.js;TensorFlow,Vim;Visual Studio;Visual Studio Code;Xcode,Windows,Development;Testing;Production,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,Yes,Yes,Twitter,In real life (in person),Username,2011,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10127,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Participated in a hackathon,"1,000 to 4,999 employees","Developer, back-end;Developer, full-stack",6,17,3,Very satisfied,Very satisfied,Very confident,Yes,Yes,I am not interested in new job opportunities,3-4 years ago,Interview with people in peer roles;Interview ...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,70000.0,Yearly,70000.0,40.0,There is a schedule and/or spec (made by me or...,Distracting work environment;Meetings;Non-work...,It's complicated,Office,Average,"Yes, because I was told to do so",NaN,"No, and I'm glad we don't","The CTO, CIO, or other management purchase new...",I have some influence,C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript;SQL,Firebase;MySQL;Oracle;SQLite,MySQL;Oracle;SQLite,Slack;Windows,Android;Windows,React.js,React.js,.NET,.NET;Unity 3D,Atom;Notepad++;Visual Studio;Visual Studio Code,Windows,I do not use containers,NaN,NaN,Yes,Yes,Yes,Twitter,In real life (in person),UserID,2010,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
10136,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, back-end;Developer, desktop or ente...",39,15,30,Very satisfied,Slightly satisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in peer roles;Interview ...,No,Specific department or team I'd be working on;...,"My job status changed (promotion, new job, etc.)",USD,United States dollar,170000.0,Yearly,170000.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work,A few days each month,Office,A little above average,"Yes, because I see value in code review",3.0,"Yes, it's part of our process",Developers and management have nearly equal in...,I have a great deal of influence,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,C#;Python;SQL;TypeScript,DynamoDB;Elasticsearch;Microsoft SQL Server;My...,DynamoDB;Elasticsearch;Microsoft SQL Server;My...,AWS;Windows,AWS;Windows,Angular/Angular.js;ASP.NET,NaN,Apache Spark;.NET;.NET Core,Apache Spark;.NET;.NET Core,Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,A passing fad,No,Yes,Yes,Facebook,In real life (in person),Username,NaN,A few times per week,Find answers to specific questions,1-2 times per week,Stack Overflow was slightly faster,11-30 minutes,No,NaN,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,52.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy

In [111]:
filt = df['Country'] == 'United States'
df.loc[filt]['SocialMedia'].value_counts()

Reddit                      540
Twitter                     389
Facebook                    275
YouTube                     237
I don't use social media    171
Instagram                   155
LinkedIn                     94
WhatsApp                     48
Snapchat                     34
WeChat 微信                    11
VK ВКонта́кте                 1
Name: SocialMedia, dtype: int64

In [114]:
country_group['SocialMedia'].value_counts().head(10)

Country      SocialMedia
Afghanistan  Facebook                    2
             Instagram                   1
             YouTube                     1
Albania      Facebook                    3
             LinkedIn                    2
             I don't use social media    1
             Twitter                     1
             YouTube                     1
Algeria      Facebook                    8
             YouTube                     5
Name: SocialMedia, dtype: int64

In [120]:
country_group['SocialMedia'].value_counts(normalize=True).loc['China']

SocialMedia
WeChat 微信                   0.609375
YouTube                     0.156250
Weibo 新浪微博                  0.109375
I don't use social media    0.031250
LinkedIn                    0.031250
Facebook                    0.015625
Instagram                   0.015625
Reddit                      0.015625
VK ВКонта́кте               0.015625
Name: SocialMedia, dtype: float64

In [124]:
country_group['ConvertedComp'].median().loc['United States']

110000.0

In [129]:
country_group['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

median     73284.500000
mean      133342.027344
Name: Canada, dtype: float64

In [137]:
filt = df['Country'] == 'United States'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

980

In [138]:
country_group['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: ignored

In [140]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan    0
Albania        1
              ..
Yemen          1
Zimbabwe       4
Name: LanguageWorkedWith, Length: 150, dtype: int64

In [142]:
country_respondents = df['Country'].value_counts()
country_respondents

United States          2040
India                   946
                       ...
Antigua and Barbuda       1
Guinea                    1
Name: Country, Length: 150, dtype: int64

In [143]:
country_uses_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan    0
Albania        1
              ..
Yemen          1
Zimbabwe       4
Name: LanguageWorkedWith, Length: 150, dtype: int64

In [148]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                     Country  LanguageWorkedWith
United States           2040                 980
India                    946                 342
...                      ...                 ...
Antigua and Barbuda        1                   0
Guinea                     1                   1

[150 rows x 2 columns]

In [149]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df

                     NumRespondents  NumKnowsPython
United States                  2040             980
India                           946             342
...                             ...             ...
Antigua and Barbuda               1               0
Guinea                            1               1

[150 rows x 2 columns]

In [150]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

                     NumRespondents  NumKnowsPython  PctKnowsPython
United States                  2040             980       48.039216
India                           946             342       36.152220
...                             ...             ...             ...
Antigua and Barbuda               1               0        0.000000
Guinea                            1               1      100.000000

[150 rows x 3 columns]

In [151]:
python_df.sort_values(by='PctKnowsPython', ascending=False)

         NumRespondents  NumKnowsPython  PctKnowsPython
Guinea                1               1           100.0
Rwanda                1               1           100.0
...                 ...             ...             ...
Kuwait                1               0             0.0
Bolivia               2               0             0.0

[150 rows x 3 columns]

In [152]:
python_df.loc['Japan']

NumRespondents    32.00
NumKnowsPython    18.00
PctKnowsPython    56.25
Name: Japan, dtype: float64