<a href="https://colab.research.google.com/github/davidzheng66/python3/blob/master/panda/panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

In [ ]:
import tensorflow as tf  # now import the tensorflow module
print(tf.version)  # make sure the version is 2.x

In [ ]:
import sys
print(sys.version)

In [ ]:
import platform
print(platform.python_version())

3.6.9

# Corey Schafer [Python Panda Tutorial](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

#[1. Getting Started with Data Analysis - Installation and Loading Data](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)
* [Pandas(Panel Data): Python Data Analysis Library](https://pandas.pydata.org/)
* Install packages:
 * pip install pandas
 * pip install jupyterlab
* [Stack Overflow Annual Developer Survey(Data)](https://insights.stackoverflow.com/survey)

In [ ]:
!pip install -q sklearn

$$
\int_0^\infty x^2dx
$$

In [46]:
import pandas as pd # Note: it depends on numpy==1.19.3, it doesn't work with numpy==1.19.4

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv') # Note: it needs to use "raw" format
df

In [9]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.min_rows', 10)
# pd.get_option('display.min_rows')

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv')
df_schema.head()

In [ ]:
df_schema.shape

In [ ]:
df.columns

In [ ]:
df['Hobbyist']

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.loc[0, 'Hobbyist']

In [ ]:
df.loc[0:2, 'Hobbyist':'Employment'] # note: row 2 is not inclusive, but column 'Employment' is inclusive

#[2. DataFrame and Series Basics - Selecting Rows and Colums](https://www.youtube.com/watch?v=zmdjNSmRXF4&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=2)

In [ ]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}
person

In [ ]:

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}
people

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
people['email']

In [ ]:
import pandas as pd

df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.email

In [ ]:
type(df['email'])

In [ ]:
df[['last','email']]

In [ ]:
type(df[['last','email']])

In [ ]:
df.columns

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[[0,1],2]

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0,1], ['email','last']]

#[3. Indexes - How to Set, Reset, and Use Indexed](https://www.youtube.com/watch?v=W9XjRYFkkyw&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=3)

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
import pandas as pd
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [54]:
df.set_index('email', inplace=True)

In [ ]:
df

In [58]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [ ]:
df.loc['CoreyMSchafer@gmail.com', 'last']

In [ ]:
# df.loc[0] # note: error after seting the index, it needs to use iloc
df.iloc[0]
df
df.reset_index(inplace=True)
df

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df.loc[1]

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')
# df_schema.head()
# df_schema.loc['Hobbyist']
# df_schema.loc['MgrIdiot']
df_schema.loc['MgrIdiot', 'QuestionText']

In [ ]:
df_schema.sort_index(ascending=False, inplace=True)
df_schema

#[4. Filtering - Using Conditionals to Filter Rows and Columns](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

In [2]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [3]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [ ]:
df.loc[filt, 'email']

In [ ]:
df.loc[~filt, 'email']

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')

In [8]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')

In [20]:
high_salary = (df['ConvertedComp'] > 130000)

In [ ]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
countries = ['United States', 'Canada', 'Germany', 'India', 'United Kindom']
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageWorkedWith']