<a href="https://colab.research.google.com/github/davidzheng66/python3/blob/master/panda/panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook

In [ ]:
import tensorflow as tf  # now import the tensorflow module
print(tf.version)  # make sure the version is 2.x

In [ ]:
import sys
print(sys.version)

In [ ]:
import platform
print(platform.python_version())

3.6.9

# Corey Schafer [Python Panda Tutorial](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

#[1. Getting Started with Data Analysis - Installation and Loading Data](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)
* [Pandas(Panel Data): Python Data Analysis Library](https://pandas.pydata.org/)
* Install packages:
 * pip install pandas
 * pip install jupyterlab
* [Stack Overflow Annual Developer Survey(Data)](https://insights.stackoverflow.com/survey)

In [ ]:
!pip install -q sklearn

$$
\int_0^\infty x^2dx
$$

In [ ]:
import pandas as pd # Note: it depends on numpy==1.19.3, it doesn't work with numpy==1.19.4

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv') # Note: it needs to use "raw" format
df

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.min_rows', 10)
# pd.get_option('display.min_rows')

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv')
df_schema.head()

In [ ]:
df_schema.shape

In [ ]:
df.columns

In [ ]:
df['Hobbyist']

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.loc[0, 'Hobbyist']

In [ ]:
df.loc[0:2, 'Hobbyist':'Employment'] # note: row 2 is not inclusive, but column 'Employment' is inclusive

#[2. DataFrame and Series Basics - Selecting Rows and Colums](https://www.youtube.com/watch?v=zmdjNSmRXF4&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=2)

In [ ]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}
person

In [ ]:

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}
people

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
people['email']

In [ ]:
import pandas as pd

df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.email

In [ ]:
type(df['email'])

In [ ]:
df[['last','email']]

In [ ]:
type(df[['last','email']])

In [ ]:
df.columns

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[[0,1],2]

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0,1], ['email','last']]

#[3. Indexes - How to Set, Reset, and Use Indexed](https://www.youtube.com/watch?v=W9XjRYFkkyw&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=3)

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
people

In [ ]:
import pandas as pd
df = pd.DataFrame(people)
df

In [ ]:
df['email']

In [ ]:
df.set_index('email', inplace=True)

In [ ]:
df

In [ ]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [ ]:
df.loc['CoreyMSchafer@gmail.com', 'last']

In [ ]:
# df.loc[0] # note: error after seting the index, it needs to use iloc
df.iloc[0]
df
df.reset_index(inplace=True)
df

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df.loc[1]

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')
# df_schema.head()
# df_schema.loc['Hobbyist']
# df_schema.loc['MgrIdiot']
df_schema.loc['MgrIdiot', 'QuestionText']

In [ ]:
df_schema.sort_index(ascending=False, inplace=True)
df_schema

#[4. Filtering - Using Conditionals to Filter Rows and Columns](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [ ]:
df.loc[filt, 'email']

In [ ]:
df.loc[~filt, 'email']

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')

In [ ]:
high_salary = (df['ConvertedComp'] > 130000)

In [ ]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

In [ ]:
countries = ['United States', 'Canada', 'Germany', 'India', 'United Kindom']
filt = df['Country'].isin(countries)
df.loc[filt, 'Country']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt, 'LanguageWorkedWith']

# [5. Updating Rows and Columns - Modifying Data Within DataFrames](https://www.youtube.com/watch?v=DCDe29sIKcE&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=5)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.columns

In [ ]:
type(df.columns)

In [ ]:
df.columns = ['first_name', 'last_name', 'email']
df

In [ ]:
df.columns = [x.upper() for x in df.columns]
df

In [ ]:
df.columns = df.columns.str.replace(' ', '_')
df

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [ ]:
df.loc[2, ['last','email']] =['Doe', 'JohnDoe@email.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df.loc[2, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [ ]:
df.at[2, 'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [ ]:
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [ ]:
def update_email(email):
    return email.upper()

In [ ]:
df['email'].apply(update_email)

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [ ]:
df['email'] = df['email'].apply(update_email)
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [ ]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [ ]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [ ]:
len(df['email'])

3

In [ ]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [ ]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [ ]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [ ]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [ ]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [ ]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [ ]:
df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [ ]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_public.csv', index_col='Respondent')
df.head()

In [ ]:
df_schema = pd.read_csv('https://raw.githubusercontent.com/davidzheng66/python3/master/panda/data/survey_results_schema.csv', index_col='Column')

In [ ]:
pd.set_option('display.max_columns', 85)

In [ ]:
df.rename(columns={'ConvertedComp' : 'SalaryUSD'}, inplace=True)
df.head()

In [ ]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
10138        NaN
10139        NaN
10140    36432.0
10141    65301.0
10142    87036.0
Name: SalaryUSD, Length: 9168, dtype: float64

In [ ]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
10138     No
10139    Yes
10140    Yes
10141    Yes
10142    Yes
Name: Hobbyist, Length: 9168, dtype: object

In [ ]:
df['Hobbyist'].map({'Yes':True, 'No':False})

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
10138    False
10139     True
10140     True
10141     True
10142     True
Name: Hobbyist, Length: 9168, dtype: bool

In [ ]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4         No
5        Yes
        ...
10138     No
10139    Yes
10140    Yes
10141    Yes
10142    Yes
Name: Hobbyist, Length: 9168, dtype: object

In [ ]:
df['Hobbyist']= df['Hobbyist'].map({'Yes':True, 'No':False})

In [ ]:
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
10138    False
10139     True
10140     True
10141     True
10142     True
Name: Hobbyist, Length: 9168, dtype: bool

#[6. Add/Remove Rows and Columns From DataFrames](https://www.youtube.com/watch?v=HQ6XO9eT-fc&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=6)

In [ ]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df = pd.DataFrame(people)

In [ ]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
df['first'] + ' '+ df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [ ]:
df['full_name'] = df['first'] + ' '+ df['last']
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [ ]:
df.drop(columns=['first', 'last'], inplace=True)
df

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [ ]:
df['full_name'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [ ]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [ ]:
df.append({'first':'Tony'}, ignore_index=True)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [ ]:
people = {
    'first': ['Tony', 'Steve'], 
    'last': ['Stark', 'Rogers'], 
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [ ]:
df.append(df2, ignore_index=True, sort=False)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df = df.append(df2, ignore_index=True, sort=False)
df

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [ ]:
df.drop(index=df[df['last'] == 'Doe'].index)

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [ ]:
filt = df['last'] == 'Doe'
df.drop(df[filt].index )

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

#[7. Sorting Data](https://www.youtube.com/watch?v=T11QYVfZoD0&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=7)

In [59]:
import pandas as pd
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [60]:
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [61]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [63]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [64]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [65]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object